.container{
  width: 100%;
  .navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C6BC0;
    position: fixed;
    top: 0px;
    z-index: 3;
    .pages-container{
      height: 50px;
      display: flex;
      justify-content: center;
      .pages{
        text-decoration: none;
        padding: 16px 50px;
        color: white;
        transition: color .2s ease-in-out;
      }
      .pages:hover{
        color: #FF7043;
        border-bottom: 3px solid #8C9EFF;
        transition: all .2s ease-in-out;
      }
      .pages:active{
        border-bottom: 3px solid #FF7043;
        transition: all .2s ease-in-out;
      }
    }
  }
  .image-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    .header-image{
      width: 150px;
      height: 150px;
      border-radius: 100%;
    }
  }
  .title{
    margin-top: 20px;
    text-align: center;
    color: #C5CAE9;
  }
  .addImageForm{
    .control{
      display: flex;
      justify-content: center;
      margin: 25px;
      .input{
        width: 600px;
        padding: 10px;
      }
      textarea{
        height: 100px;
        border: 1px solid lightgray;
      }
      .button{
        padding: 10px 20px;
        background-color: #5C6BC0;
        border: 1px solid #5C6BC0;
        color: white;
        transition: all .2s ease-in-out;
      }
      .button:hover{
        background-color: #C5CAE9;
        color: #5C6BC0;
        transition: all .2s ease-in-out;
      }
      .button:active{
        background-color: #FF7043;
        color: white;
        transition: all .2s ease-in-out;
      }
    }
  }
  .content-box{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    .images-container{
      display: inline-block;
      width: 200px;
      margin: 10px;
      position: relative;
      .added-image{
        width: 200px;
        height: 150px;
        border-radius: 3px;
      }
      .button-container{
        display: flex;
        justify-content: center;
        width: 200px;
        position: absolute;
        top: 128px;
        visibility: hidden;
        .like-button{
          font-size: 10px;
          background: black;
          border: 1px solid black;
          border-radius: 3px;
          margin-right: 35px;
          color: white;
          opacity: .8;
        }
        .edit-button{
          font-size: 10px;
          background-color: white;
          border: 1px solid white;
          border-radius: 3px;
          margin-right: 35px;
          color: black;
          opacity: .7;
        }
        .delete-button{
          font-size: 10px;
          background-color: red;
          border: 1px solid red;
          border-radius: 3px;
          color: white;
          margin-left: 60px;
          opacity: .8;
        }
      }
      .image-name{
        text-align: center;
        color: #C5CAE9;
        font-size: 14px;
        margin-bottom: 5px;
      }
      .image-comment{
        text-align: center;
        font-size: 12px;
      }
    }
    .images-container:hover{
      .button-container{
        visibility: visible;
      }
    }
  }
  .content-box{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    .detail-images-container{
      display: flex;
      width: 80%;
      margin: 10px;
      position: relative;
      .detail-added-image{
        width: 60%;
        height: 300px;
        border-radius: 3px;
      }
      .edit{
        position: absolute;
        right: 0px;
        top: 0px;
        display: inline-block;
        .detail-edit-button{
          font-size: 14px;
          background-color: #5C6BC0;
          border: 1px solid #5C6BC0;
          border-radius: 3px;
          color: white;
          opacity: .7;
        }
      }
      .delete{
        position: absolute;
        right: 0px;
        bottom: 0px;
        display: inline;
        .detail-delete-button{
          font-size: 14px;
          background-color: red;
          border: 1px solid red;
          border-radius: 3px;
          color: white;
          opacity: .8;
          float: left;
        }
      }
      .detail-info{
        margin: 0px 25px;
        .detail-image-name{
          color: #C5CAE9;
          font-size: 20px;
          margin: 0px 0px 15px 0px;
        }
        .detail-image-comment{
          font-size: 15px;
        }
      }
    }
    .detail-images-container:hover{
      .detail-button-container{
        visibility: visible;
      }
    }
  }
}
