<h2 class="title">Add or Edit Images</h2>


<form class="addImageForm" ng-submit="addImage(image)">
  <p class="control">
    <input type="text" class="input" placeholder="Image Name" ng-model="image.name" />
  </p>
  <p class="control">
    <input type="text" class="input" placeholder="Image URL" ng-model="image.url" />
  </p>
  <p class="control">
    <input type="text" class="input" placeholder="Comment" ng-model="image.comment" />
  </p>
  <p class="control">
    <button class="button">Add Image</button>
  </p>
</form>
