<h2 class="title">Details</h2>

<div class="single-image-box">
  <div class="single-image-container">
    <img class="single-added-image" ng-src="{{ singleImage.url }}" alt="{{ singleImage.name }}" ng-dblclick="addToLikes(image)"/>
    <button class="single-like-button" ng-click="addToLikes(image)">{{ singleImage.likes }} {{ form }}</button>
  </div>
  <div class="single-image-info">
    <span class="name">Image Name:</span> <br />
    <div class="single-image-name">
      {{ singleImage.name }}
    </div>
    <span class="comment">Comment:</span><br />
    <div class="single-image-comment">
      {{ singleImage.comment }}
    </div>
  </div>
</div>
